# pip install -r requirements.txt
fastapi==0.116.1
uvicorn[standard]==0.35.0
pandas==2.3.1
langchain==0.0.220
transformers==4.34.0
huggingface-hub==0.16.4
accelerate==0.24.0
scipy==1.10.1
scikit-learn==1.5.0
google-generativeai==0.8.5
python-multipart==0.0.20
numpy==1.26.4
pydantic==1.10.22
starlette==0.47.2
streamlit>=1.24.0
transformers>=4.30.0
accelerate>=0.19.0
sentence-transformers>=2.2
chromadb>=0.3.21
opentelemetry-exporter-otlp-proto-http==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-proto==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
langchain-google-genai == 2.1.8